@model AAF_Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Crear Inquilino";
}

@*-------------------------------------------*@
<div class="form mt-5 container-fluid">
    <nav class="mt-4 navbar navbar-light bg-light">
        <a class="navbar-brand">Crear Inquilino</a>
        <form class="form-inline">
            <span class="input-group-text, btn btn-outline-warning" data-toggle="tooltip" data-placement="bottom" title="Crea un inquilino con sus atributos">Estas creando un nuevo inquilino</span>
        </form>
    </nav>
    <form class="mt-4" asp-action="Create">
        <div class="crearUsuario">
            <div class="form-group">
                <input asp-for="Nombre" class="form-control tbFlotante" type="text" placeholder="" minlength="3" maxlength="20" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ]{2,48}">
                <label class="lblFlotante" data-content="Nombre"></label>
                <input asp-for="Apellido" class="form-control tbFlotante" type="text" placeholder="" minlength="3" maxlength="20" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ]{2,48}">
                <label class="lblFlotante" data-content="Apellido"></label>
                <input asp-for="Dni" class="form-control tbFlotante" type="number" placeholder="" min="0" required pattern="[-+]?[0-9]*[.,]?[0-9]+">
                <label class="lblFlotante" data-content="Dni"></label>
                <input asp-for="Telefono" class="form-control tbFlotante" type="number" placeholder="" min="0" required pattern="[-+]?[0-9]*[.,]?[0-9]+">
                <label class="lblFlotante" data-content="Telefono"></label>
                <input asp-for="Email" class="form-control tbFlotante" type="email" placeholder="" minlength="3" maxlength="20" required>
                <label class="lblFlotante" data-content="Email"></label>
                
            </div>
            <button type="submit" value="Create" name="registro" class="button  btn-lg">Registrarse</button>
            <hr>
            <a class="button btn btn-success btn-sm" asp-action="Index">Volver a la lista</a>
        </div>
    </form>
</div>
@*-------------------------------------------*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
