@charset "utf-8";
/* CSS Document */

.aseguradora{
    background-image: url("../img/headerCanito.png");
    border-bottom: outset;
    color: aquamarine;  
}
.btnIngresar{
    width: 100%;
}
.menu{
    border: inset aquamarine;
    border-width: 1px 2px 0px 1px; 
    background: #E0E0E0;
}
.menu a{
    color:#800306;
}
