@charset "utf-8";
/* CSS Document */

.aseguradora{
    background-image: url("../img/headerCanito.png");
    border-bottom: outset;
    color: aquamarine;
}
.btnIngresar{
    width: 100%;
}
.menu{
    border: outset #FBFBFB;
    border-width: 5px 5px 0px 3px; 
    background: #E0E0E0;
}
.userMail{
    
	color:#1151B3;
}